<h1>
  Fun Star Wars Movie Details!
</h1>
<br>
<nav>
  {{#link-to "movies"}}
    Movies
  {{/link-to}}
  {{#link-to "characters"}}
    Characters
  {{/link-to}}
  {{#link-to "video"}}
    Trailer
  {{/link-to}}
</nav>
<br>
<p>
  This is a Star Wars movie database site. You can get info …
</p>
<div class="main-content">
  {{outlet}}
</div>
